In [2]:
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('out.csv')
df.head(70)

,Unnamed: 0,Name,TotalKarma,CommentKarma,DateTime,AdjustedKarma,AdjustedKarmaPercent
0,0,DumbDyingRepublicans,202,1,2022-03-20 16:25:03,201,0.004950
1,1,scoopdawoop5,265,1,2022-03-08 22:36:32,264,0.003774
2,2,celticwomyn,1819,1,2022-03-18 21:22:48,1818,0.000550
3,3,krischinbail,21,1,2022-03-22 20:47:07,20,0.047619
4,4,celticwomyn,1819,1,2022-03-18 21:22:48,1818,0.000550
...,...,...,...,...,...,...,...
56,56,Mega-Balls,1787,4,2022-03-16 10:16:44,1783,0.002238
57,57,theleftandright,737,1,2022-02-28 08:11:05,736,0.001357
58,58,fyuhkuydyhfjj,57,1,2022-03-13 13:03:11,56,0.017544
59,59,Ymardal,10,1,2022-03-12 18:54:05,9,0.100000
60,60,Burnputin,412,1,2022-03-20 05:10:37,411,0.002427